{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Inlay | Sobre mi
{% endblock title %}

{% block content %}
<div class="container text-center">
    <h1 class="mt-4 display-4 fw-bold text-primary ">Sobre mi</h1>
</div>
  <section class="testimonials text-center bg-light">
    <div class="container p-5 my-5 bg-light rounded shadow mb-5 mb-lg-0">
        <div class="row p-4 p-lg-5 mx-auto bg-light rounded shadow mb-5 mb-lg-0 bg-light rounded shadow">
            <div class="col-lg-12">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src= {% static 'core/assets/img/Martin.jpg' %} alt="Martin"/>
                    <h5>Martin Avelen</h5>
                    <p class="mb-0 fst-italic">
                        "Hola! Soy de Buenos Aires, Zona sur. Tengo 27 años, estoy estudiando Tecnicatura en Programacion hace 1 año y deseo seguir perfeccinandome!. "
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}