<!-- Responsive navbar-->
<!-- navbar.html -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #fda4ac;">
    <div class="container px-5">
        <a class="navbar-brand" href="{% url 'core:index' %}" style="font-family: 'Cursive', sans-serif; font-size: 24px; font-weight: bold; text-decoration: none; color: #fff;">INLAY</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'index' %}active{% endif %}" href="{% url 'core:index' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'profesor_list' %}active{% endif %}" href="{% url 'core:profesor_list' %}">Lista de Profesores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'estudiante_list' %}active{% endif %}" href="{% url 'core:estudiante_list' %}">Lista de Estudiantes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'producto_list_tops' %}active{% endif %}" href="{% url 'core:producto_list_tops' %}">Tops</a>
                </li>
                <!-- Agregar más enlaces según sea necesario -->
            </ul>
        </div>
    </div>
</nav>
