{% extends 'core/base.html' %}

{% block title %}
    Productos
{% endblock title %}

{% block content %}
  <div class="container text-center">
    <h1 class="mt-4">Vestidos</h1>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col"></th>
          <th scope="col">Precio</th>
          
        </tr>
      </thead>
      <tbody>
        {% for object in vestidos %}
          <tr>
            <td>{{ object.nombre }}</td>
            <td>
              {% if object.imagenProducto %}
                <img src="{{ object.imagenProducto.url }}" alt="{{ object.nombre }}" style="max-width: 100px;">
              {% endif %}
            </td>
            <td>{{ object.precio }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="3" class="text-center">No hay categorías disponibles.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}