{% extends 'core/base.html' %}

{% block title %}
    Detalle Producto
{% endblock title %}

{% block content %}
  <div class="container">
    <h1 class="mt-4">Detalle de Producto</h1>

    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title">{{ jeans.nombre }}</h5>
        {% if jeans.imagenProducto %}
            <img src="{{ jeans.imagenProducto.url }}" alt="{{ jeans.nombre }}" style="max-width: 100px;">
        {% endif %}
        <p class="card-release" style="color: #0aa724;">${{ jeans.precio }}</p>
        <p class="card-text">Talle: {{ jeans.talle }}</p>
        <p class="card-text">Cantidad: {{ jeans.cantidad }}</p>
        <p class="card-text">Fecha de publicacion: {{ jeans.fecha_actualizacion }}</p>
        <p class="card-text">Descripcion: {{ jeans.descripcion }}</p>
      </div>
    </div>

    <div class="mt-4">
        <a href="{% url 'core:producto_list_jeans' %}" class="btn btn-primary">Volver a la Lista</a>
        <a href="{% url 'core:producto_update_jeans' jeans.id %}" class="btn btn-warning">Editar</a>
        <a href="{% url 'core:producto_delete_jeans' jeans.id %}" class="btn btn-danger">Eliminar</a>
        
    </div>
</div>
{% endblock content %}