{% extends 'core/base.html' %}

{% block title %}
    Detalle Producto
{% endblock title %}

{% block content %}
  <div class="container">
    <h1 class="mt-4">Detalle de Producto</h1>

    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title">{{ tops.nombre }}</h5>
        {% if tops.imagenProducto %}
            <img src="{{ tops.imagenProducto.url }}" alt="{{ tops.nombre }}" style="max-width: 100px;">
        {% endif %}
        <p class="card-release" style="color: #0aa724;">${{ tops.precio }}</p>
        <p class="card-text">Talle: {{ tops.talle }}</p>
        <p class="card-text">Cantidad: {{ tops.cantidad }}</p>
        <p class="card-text">Fecha de publicacion: {{ tops.fecha_actualizacion }}</p>
        <p class="card-text">Descripcion: {{ tops.descripcion }}</p>
      </div>
    </div>

    <div class="mt-4">
        <a href="{% url 'core:producto_list_tops' %}" class="btn btn-primary">Volver a la Lista</a>
        <a href="{% url 'core:producto_update_tops' tops.id %}" class="btn btn-warning">Editar</a>
        <a href="{% url 'core:producto_delete_tops' tops.id %}" class="btn btn-danger">Eliminar</a>
        
    </div>
</div>
{% endblock content %}